//====================================================================================================
.header {

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 140px;
		@include adaptiveValue('height',140,100,1280,767,98);
		
		@media screen and (max-width:$mobile) {
			height: 92px;
		}
	}

	// .header__logo

	&__logo {

		color: var(--gray);
		font-family: Volkhov;
		@include adaptiveValue('font-size',48,36);
		
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 52px */

		margin-right: 10px;
		
	}

	// .header__menu

	&__menu {
		@media screen and (max-width:$mobile) {
			position: fixed;
			z-index: 10;
			top: 0;
			right: -100%;
			width: auto;
			height: calc(var(--vh, 1vh) * 100);
			overflow: scroll;
			background-color: var(--light-gray);
			padding: 100px 20px 30px 20px;
			transition: all .4s ease 0s;

			.menu-open & {
				right: 0;
			}
		}
	}

	// .header__list

	&__list {
		display: flex;
		flex-direction: column;
		
		@media screen and (min-width:$mobile) {
			flex-direction: row;
			column-gap: 58px;
			align-items: center;
			@include adaptiveValue('column-gap',58,10,1280,479.98);
		}
		@media screen and (max-width:$mobile) {
			row-gap: 15px;
		}
	}

	// .header__link

	&__link {
		@media screen and (min-width:$mobile) {
			margin: -1.25rem;
			padding: 1.25rem;
		}
		.touch & {
			// padding: 0px;
			// margin: 0px 0px 15px 0px;
		}

		& > a {
			color: var(--gray);
			@media (prefers-reduced-motion) and (hover:hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		@media screen and (max-width:$mobile) {
			& > a {
				font-size: 32px;
				color: var(--black);
				// line-height: 120%;
			}
		}
		
	}

	// .header__button

	&__button {
		display: inline-block;


		& span {
			display: inline-block;
			color: var(--white);
		}

			
		// .header__button-content

		&-content {

			padding: 20px 45px;

			@include adaptiveValue('padding-top',20,12,1280,768);
			@include adaptiveValue('padding-bottom',20,12,1280,768);
			@include adaptiveValue('padding-left',45,27,1280,768);
			@include adaptiveValue('padding-right',45,27,1280,768);
			
			@include adaptiveValue('font-size',16,14,1280,768);
			

			@media screen and (max-width:$mobile) {
				padding: 15px 30px;
				font-size: 19px;
			}
			
			background-color: var(--black);
			border-radius: 10px;
		}

		@media screen and (max-width:$mobile) {
			margin-top: 30px;
		}

		@media screen and (hover:hover) {
			margin: -10px;
			padding: 10px;
		}


	}


	// .header__burger

	&__burger {
		display: none;

		font-size: 16px;
		@media screen and (max-width:$mobile) {
			display: block;
		}
	}

	// .header__fixed-burger

	&__fixed-burger {
		display: none;
		@media screen and (max-width:$mobile) {
			display: flex;
			justify-content: center;
			align-items: center;

			position: fixed;
			z-index: 52;
			right: 15px;
			top: 15px;
			background-color: var(--black);
			transition: all .4s ease 0s;

			width: 64px;
			height: 64px;
			border-radius: 32px;
			transform: scale(0);

			

			._header-scroll & {
				transform: scale(1);
			}

			.menu-open & {
				transform: scale(1);
			}
			
		}
	}
		
	// .header__burger-text

	&__burger-text {
		position: relative;
		width: 33%;
		height: 9.2px;

		.menu-open & {
			&::after {
				transform: translateY(4.4px) rotate(-45deg);
			}

			&::before {
				transform: translateY(-4.3px) rotate(45deg);
			}
		}


		&::after,&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: var(--white);
			left: 0px;
			transition: all .5s ease 0s;
		}
		&::after {
			top: 0;
		}
		&::before {
			bottom: 0;
		}
	}
}
.icon-menu {
}



//====================================================================================================

//Burger
.icon-menu:not(.header__burger) {
	display: none;
	@media (max-width: $mobile) {
		display: flex;

		.menu-open & {
			
		}
	}
}

._magnetic {}