._circle {
    @media screen and (hover:hover) {
        --circle-size: 40px;
        position: fixed;
        height: var(--circle-size);
        width: var(--circle-size);
        border: 1px solid var(--gray);
        border-radius: 100%;
        top: calc(var(--circle-size) / 2 * -1);
        left: calc(var(--circle-size) / 2 * -1);
        pointer-events: none;
    }
}


.ultimate-sale {
    

    // .ultimate-sale__container

    &__container {
        display: grid;
        gap: 20px;  
        @include adaptiveValue('gap',20,12,1280,768);
        
        @media screen and (min-width:$mobile) {
            grid-auto-flow: column;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: repeat(3,1fr);
        }
        @media screen and (max-width:$mobile) {
            grid-auto-flow: column;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 50% 1fr 1fr;
            gap: 12px;
        }
    }
    & h1 {
        text-align: center;
        font-size: 91px;

        @include adaptiveValue('font-size',91,55, 1280, 768);
        @include adaptiveValue('font-size',81,51, 768,479);
        
        font-weight: 500;
        line-height: 100%; /* 91px */
        letter-spacing: -3.64px;

        
    }

    & h2 {
        text-align: center;
        font-size: 187px;
        @include adaptiveValue('font-size',187,113,1280,768);
        @include adaptiveValue('font-size',169,106, 768,479);

        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 187px */
        letter-spacing: em(-10.285,187);
        color: var(--white);
        -webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: var(--gray)
    }

    & h3 {
        text-align: center;
        letter-spacing: em(2,20);
        @media screen and (min-width:$mobile) {
            font-size: 20px;
        }
        @include adaptiveValue('font-size',20,12,1280,768);
        @include adaptiveValue('margin-bottom',26,15);
        
        
    }
    // .ultimate-sale__item

    &__item {
        & img {
            border-radius: 10px;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
        }


        &:first-child {
            @media screen and (min-width:$mobile) {
                grid-column: 1;
                grid-row: span 3;
            }
            @media screen and (max-width:$mobile) {
                order: 3;
                grid-row: span 2;


            }
        }

        &:nth-child(2),&:first-child,&:last-child {
            @media screen and (max-width:$mobile) {
                position: relative;
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &:nth-child(2) {
            @media screen and (max-width:$mobile) {
                order: 1;
                padding-top: 38%;
                
            }
        }
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width:$mobile) {
                padding-top: 16px;
            }
            @include adaptiveValue('padding-top',16,1,1280,767);
            @media screen and (max-width:$mobile) {
                order: 2;
                grid-row: span 2;

            }
        }
        &:nth-child(4) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media screen and (max-width:$mobile) {
                order: 4;
                grid-column: span 2;
            }
        }
        &:last-child {
            @media screen and (min-width:$mobile) {
                grid-column: 3;
                grid-row: span 3;
            }
            @media screen and (max-width:$mobile) {
                order: 5;
                grid-row: span 2;
                
            }
        }
    }

    
    // .ultimate-sale__button

    &__button {
        display: inline-block;

        color: var(--white);
        

        // .ultimate-sale__button-content

		&-content {

            padding: 20px 60px;
			
            @include adaptiveValue('padding-top',20,12,1280,480);
            @include adaptiveValue('padding-bottom',20,12,1280,480);
            @include adaptiveValue('padding-left',60,36,1280,480);
            @include adaptiveValue('padding-right',60,36,1280,480);
            font-size: 16px;            


			background-color: var(--black);
			border-radius: 10px;
		}

		@media screen and (hover:hover) {
			margin: -10px;
			padding: 10px;
		}
    }
}
.logos {
    @include adaptiveValue('padding-top',80,20);
    @include adaptiveValue('padding-bottom',80,20);
    
    // .logos__container

    &__items {
        display: flex;
        @include adaptiveValue('column-gap',40,20);

    }

    // .logos__first

	&__first,&__second {
        display: flex;
        align-items: center;
        justify-content: space-between;

        row-gap: 15px;
        @include adaptiveValue('column-gap',40,20);
        
    }

    // .logos__second

	&__second {
	}

    // .logos__item

    &__item {
        padding: 0px 10px;
    }
}
